* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    font-weight: 300;
    color: #333;
    display: grid;
}

/* body styling grid format */
body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 75px auto 75px;
    grid-template-areas:
        "hd hd hd"
        "lhside main-center rhside"
        "foot foot foot";
}

h2 {
    display:none;
}

/* h2 is used on walks page to display walk titles */ 
#walk01 h2, #walk02 h2, #walk03 h2, #walk04 h2, #walk05 h2, #walk06 h2{
    display:block;
}

/* 16/04/23 DMcC:  Container needed for responsive media queries */
.container {
    grid-area: hd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 75px;
    padding: 0;
    background-color: rgb(96, 239, 191);
}

ul {
    list-style-type: none;
}

/* Heading and logo styles */
h1,
h2 {
    font-family: 'Libre Baskerville', serif;
    /* margin: 10px 0; */
    color: #252525;
}

/* check if the class below is genuinely needed or could be incorporated into other styling */
/* think its needed for the grid area and background colours */
.header {
    grid-area: hd;
    color: rgba(7, 117, 36, 0.5);
    background-color: rgb(96, 239, 191);
    /*    line-height: 75px; 20/04/23 DMcC - was 75px, modified to reduce header size on all screens */
}

#logo {
    clear: both;
    text-transform: uppercase;
    font-size: 180%;
    margin-left: 30px;
}

.logo-wrapper {
    grid-area: hd;
    display: flex;

}

#menu,
#logo {
    /* line-height: 75px 20/04/23 DMcC - modified to remove line-height as think this is contributing to overspill large header on small screen */
    grid-area: hd;
    letter-spacing: 4px;
    /* 20/04/23 DMcC - was 75px, modified to reduce header size on all screens */
}

#logo {
    font-size: 180%;
    margin-left: 30px;
    display: flex;
}

#menu {
    font-size: 110%;
    display: flex;
    flex-wrap: wrap;
}

#menu .active {
    border-bottom: 1px solid #3a3a3a;
}

/* navigation links */
#menu li {
    list-style-type: none;
    margin-right: 30px;
}

a {
    text-decoration: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-family: 'Libre Baskerville', serif;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* General styling for images */
img {
    width: 100%;
}

/* Position of text in left hand screen panel */
/* 18/04/23 DMcC:  Apply flex display to the contents, to align towards the main-centre map */
.main-left {
    grid-area: lhside;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: center;
}

/* 16/04/23 DMcC: Using this to specify items that span <lhside & main-center & rhside> e.g. in walks.html to use full width of page for descriptive text */
.main {
    grid-area: 2 / 1/ 2 /4;
}

.main-center {
    grid-area: main-center;
    background-color: beige;
}

.main-center h1 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/* Flexbox styling for map and walk IDs to appear in centre of screen */
.mainmap {
    grid-area: main-center;
    position: relative;
    /* z-index: 1; */
    background-color: beige;
}

/* Change display when hover over individual walks */
/* 16/04/23 DMcC:  Think the below code no longer relevant as related to using flex box to show walk IDs */
.walk-id a:hover {
    font-size: 130%;
}

/* Include specific styling for google map to pop it into the middle of its container and make it responsive*/
.google-map {
    grid-area: main-center;
    padding-bottom: 70%;
    position: relative;
}

.google-map iframe {
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    margin-right: 10%;
    position: absolute;
}

/* Text to position in right hand screen panel */
/* 18/04/23 DMcC:  Apply flex display to the contents, to align towards the main-centre map */
.main-right {
    grid-area: rhside;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

/* 16/04/23 DMcC Reinstated class "walks" and "walks-detail as needed for walk.html page - which uses full screen width */
.walks {
    background-color: beige;
}

.feedback {
    background-color: beige;
    grid-area: main-center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 110%;
}

.feedback label {
    font-weight: 800;
}

/* DMcC 18/04/23 issue #011 Feedback stars are displaying L->R rather than R-L (resolved )*/
/* 22/04/23 DMcC: Corrected misspelling of 'row-reserve' as 'row-reversed' post CSS validator ISSUE011 */
.feedback .star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

#review {
    min-height: 5rem;
    min-width: 50%;
}

#date-walked {
    min-height: auto;
    min-width: 20px;
    max-width: fit-content
}

#firstname,
#surname {
    min-width: 30%;
    min-height: 15px;
}


#walk-name {
    font-size: 120%;
}

.walk-detail {
    padding: 30px 10px 30px 10px;
    overflow: auto;
    text-justify: auto;
}

/* gallery styling */
#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    padding: 1px;
}

/* 16/04/23 DMcC:  Added container-foot class styling as think it might be needed for footer */
.container-foot {
    grid-area: foot;
    display: flex;
    align-items: center;
    min-height: 50px;
    margin: 0 auto;
    overflow: auto;
    padding: 0;
    background-color: rgb(96, 239, 191);
}

/* Footer styling, updated 16/04/23 DMcC to include overflow, margins and padding */
/* 17/04/23 DMcC:  reinstated named grid-area and relative positioning */
.footer {
    grid-area: foot;
    position: relative;
    min-height: 50px;
    margin: 0;
    padding: 0;
    background-color: rgb(96, 239, 191);
    display: flex;
    /* flex-wrap:wrap; */
    align-content: stretch;
}

/* 18/04/23 DMcC:  Remove absolute positioning, flex display can then work - as per support call with Ed 18/04/23*/
.partners {
    display: flex;
    place-self: auto center;
}

.partners>li {
    display: inline;
    padding: 10px;
    /* padding-left:30%; */
}

.partners i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

.flip-card-front img {
    width: 200px;
    height: 150px;
    border-radius: 15px;
}

/* Add flip card functionality: sourced from W3schools ref https://www.w3schools.com/howto/howto_css_flip_card.asp*/
/* 18/04/23 DMcC:  Apply position relative & justify-content in order to force alignment towards the main-centre map */
.flip-card {
    position: relative;
    background-color: transparent;
    border-radius: 15%;
    width: 200px;
    height: 150px;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-border {
    border: 5px solid;
    border-color: rgb(2, 136, 209);
}

.fuschia-border {
    border: 5px solid;
    border-color: rgb(136, 14, 79);
}

.orange-border {
    border: 5px solid;
    border-color: rgb(230, 81, 0);
}

.yellow-border {
    border: 5px solid;
    border-color: rgb(255, 234, 0);
}

.sludgegreen-border {
    border: 5px solid;
    border-color: rgb(129, 119, 23);
}

.purple-border {
    border: 5px solid;
    border-color: rgb(103, 58, 183);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    border-radius: 15%;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: rgb(96, 239, 191);
    color: black;
    font-size: 0.75em;
    text-align: center;
    transform: rotateY(180deg);
}

/* End flip card functionality */

/* 21/04/23 DMcC - code below added to better control the display of walk details, this includes a summary panel showing icons (categories), 
a text detail section and a photos section */
.walk-wrapper {
    border: rgba(7, 117, 36, 0.5);
}

/* The keyframes animation code below is adapted from https://www.geeksforgeeks.org/programming-a-slideshow-with-html-and-css/ */
/* Styling the area of the slides */
.walk-photos > img {
    width: 300px;
    height: 225px;
    }

/* Code below sourced from nikitahl.com/star-rating-with-css, modified very slightly for descriptors only */
/* styling for entering a star rating  on the feedback form */

/* 22/04/23 DMcC: Corrected misspelling of 'row-reserve' as 'row-reversed' post CSS validator ISSUE011 */

#review-stars {
    display: flex;
    flex-basis:auto;
    justify-content: flex-end;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.radio-input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.radio-label {
    cursor: pointer;
    font-size: 0;
    color: rgba(0, 0, 0, 0.2);
    transition: color 0.1s ease-in-out;
}

.radio-label:before {
    content: "★";
    display: inline-block;
    font-size: 32px;
}

.radio-input:checked~.radio-label {
    color: #ffc700;
    color: gold;
}

.radio-label:hover,
.radio-label:hover~.radio-label {
    color: goldenrod;
}

.radio-input:checked+.radio-label:hover,
.radio-input:checked+.radio-label:hover~.radio-label,
.radio-input:checked~.radio-label:hover,
.radio-input:checked~.radio-label:hover~.radio-label,
.radio-label:hover~.radio-input:checked~.radio-label {
    color: darkgoldenrod;
}

/* Add display styling for star-reviews shown on walks.html */
.trail-rating,
.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
}

.average-rating::before {
    --percent: calc(4.3/5*100%);
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.2);
    background:
        linear-gradient(90deg, gold var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.trail-rating::before {
    --percent: calc(5/5*100%);
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.2);
    background:
        linear-gradient(90deg, gold var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    background-color:rgba(0,0,0,0.1);
    color:black;
    border-color: rgb(51,51,51);
    padding: 3px 10px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}

/* Add responsiveness for screen sizes below 800px width */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }

    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 50px;
        /* 20/04/23 DMcC try auto calculate header size rather than 150px - ref issue #010*/
        grid-template-areas:
            "hd hd"
            "main-center main-center"
            "lhside rhside"
            "foot foot";
    }

    /* DMcC 18/04/23 - Reduce font size in header to avoid navbar overspill on mobile screens */
    #menu,
    #logo {
        font-size: 0.7em;
    }

    logo-wrapper {
        justify-content: center;
    }
}

/* 20/04/23 DMcC Add responsiveness for screen sizes between 320 - 400px, to overcome problems with flipcard display */
/* whereby flipcards of 200px wide are truncated to RHS of screen */
@media screen and (max-width: 400px) {

    /* DMcC 18/04/23 - Reduce font size in header to avoid navbar overspill on mobile screens */
    #menu,
    #logo {
        font-size: 0.7em;
        letter-spacing: 1px;
        /* 21/04/23 DMcC - further reduction as still get overspill n screen sizes 320-400px */
    }

    .flip-card {
        width: 160px;
        height: 120px;
    }

    .flip-card-front,
    .flip-card-back,
    .flip-card-inner {
        width: 160px;
        height: 120px;
    }

    /* 21/04/23 DMcC:  Issue 018 - text overflows the flip card when deployed & tested on android mobile under FF -  and the user cannot see or activate the 
'more details' link - solution is to reduce text size for screen width 320-400px */
    .flip-card-back {
        font-size: 0.6rem;
    }

    .flip-card-front img {
        width: 160px;
        height: 120px;
        border-radius: 15px;
    }

}

/* Add responsiveness for small screen sizes below 320px width */
@media screen and (max-width: 320px) {
    #photos {
        column-count: 1;
    }

    body {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto 50px;
        /* 20/04/23 DMcC try auto calculate header size rather than 150px */
        grid-template-areas:
            "hd"
            "main-center"
            "lhside"
            "rhside"
            "foot";
    }

    /* DMcC 18/04/23 - Reduce font size in header to avoid navbar overspill on mobile screens */
    #menu,
    #logo {
        font-size: 0.5em;
    }

    .main-left,
    .main-right {
        align-items: center;
        /* 20/04/23 DMcC - change from self-end to center as when display in single column the main-left and main-right are misaligned */
    }
}